@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply text-[#f2f3f5];
  }

  .input {
    @apply mt-2 rounded-md bg-[#02040A] p-2 outline-none;
  }

  .submit {
    @apply rounded-sm bg-green-700 py-2 hover:bg-green-600 active:bg-green-700;
  }

  .dash {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
